.pictures > .app-images{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    column-gap: 65px;
    row-gap: 150px;
}
.pictures{
    height: 580px;
    margin-bottom: 40px;
    background-color: #FFF6E9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
body{
    background-color: #FF7F3E;
}